<h2 class="text-center">VERDURAS</h2>

<div class="card-group">
  <div class="card m-5 border border-success-subtle">
    <img class="card-img-top align-middle" style="width: 296px" "heigth: 218px" style="width: 258px heigth: 126px"src="https://img.freepik.com/foto-gratis/vista-lateral-3-alcachofas-horizontal_176474-2342.jpg?t=st=1716916706~exp=1716920306~hmac=dddf313f307d0b96478cef839bb09ba19c6c651544f2dcdb09cffb1df9e81540&w=740" alt="imagen de alcachofas">
    <div class="card-body">
      <h5 class="card-title text-center">ALCACHOFA</h5>
      
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">PRECIO UNIDAD $ </li>
    <li class="list-group-item">PRECIO KILO $ </li>
  </ul>
  </div>
  <div class="card m-5 border border-success-subtle">
    <img class="card-img-top align-middle" style="width: 296px" "heigth: 218px" style="width: 258px heigth: 126px" src="https://img.freepik.com/foto-gratis/pimiento_1339-1599.jpg?t=st=1716916640~exp=1716920240~hmac=c8aa74dc73498bdf490a34c65af932f6c85900951b1e5a3afa6de097d2197bb6&w=740"  alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">PIMENTÓN</h5>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">PRECIO UNIDAD $ </li>
    <li class="list-group-item">PRECIO KILO $ </li>
  </ul>
  </div>
  <div class="card m-5 border border-success-subtle">
    <img class="card-img-top align-middle" style="width: 296px" "heigth: 218px" src="https://img.freepik.com/foto-gratis/fibra-toda-sabrosa-crujiente-saludable_1172-208.jpg?t=st=1716916880~exp=1716920480~hmac=4d03da0b045aafc421724bd7eb8c6568770d7402d7f8465956a61be9b8b72ad3&w=740
" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">REPOLLO MORADO</h5>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">PRECIO UNIDAD $ </li>
    <li class="list-group-item">PRECIO KILO $ </li>
  </ul>
  </div>
</div>
<div class="card-group">
  <div class="card m-5 border border-success-subtle">
    <img class="card-img-top align-middle" style="width: 296px" "heigth: 218px" src="https://img.freepik.com/foto-gratis/vista-lateral-3-alcachofas-horizontal_176474-2342.jpg?t=st=1716916706~exp=1716920306~hmac=dddf313f307d0b96478cef839bb09ba19c6c651544f2dcdb09cffb1df9e81540&w=740" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">TOMATE</h5>
   </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">PRECIO UNIDAD $ </li>
    <li class="list-group-item">PRECIO KILO $ </li>
  </ul>
  </div>
  <div class="card m-5 border border-success-subtle">
    <img class="card-img-top align-middle" style="width: 296px" "heigth: 218px" src="https://img.freepik.com/foto-gratis/deliciosa-zanahoria-cruda_144627-45982.jpg?t=st=1716916526~exp=1716920126~hmac=86f196e4312260837e4d094ed40c0c35a052c915c18fae061fbfe35b8d1028b4&w=826
" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">ZANAHORIA</h5>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">PRECIO UNIDAD $ </li>
    <li class="list-group-item">PRECIO KILO $ </li>
  </ul>
  </div>
  <div class="card m-5 border border-success-subtle">
    <img class="card-img-top align-middle" style="width: 296px" "heigth: 218px" src="https://img.freepik.com/foto-gratis/cebolla-roja-entera-aislado-blanco_146671-19173.jpg?t=st=1716927815~exp=1716931415~hmac=75a1450edbf2543779de013336f9a3609f0a5672ca48e3f116b8a433939dcbae&w=740" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">CEBOLLA</h5>
   </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">PRECIO UNIDAD $ </li>
    <li class="list-group-item">PRECIO KILO $ </li>
  </ul>
  </div>
</div>


<h2 class="text-center">FRUTAS</h2>
{{! SECCIÓN FRUTAS }}

<div class="card-group">
  <div class="card m-5 border border-warning-subtle">
    <img class="card-img-top" src="https://img.freepik.com/foto-gratis/fresas-rojas-frescas-hojas-verdes_114579-10506.jpg?t=st=1716915920~exp=1716919520~hmac=b0f2d8e078eb89ddc5465f59af01be41ac069349f235bf6dae16a09e7232edec&w=740
" alt="fresas">
    <div class="card-body">
      <h5 class="card-title text-center">FRESA</h5>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">PRECIO UNIDAD $ </li>
    <li class="list-group-item">PRECIO KILO $ </li>
  </ul>
  </div>
  <div class="card m-5 border border-warning-subtle">
    <img class="card-img-top" src="https://img.freepik.com/foto-gratis/fruta-kiwi-fresca-aislada_144627-30031.jpg?t=st=1716915851~exp=1716919451~hmac=dbbaab3b2b1ec4264030d9a063e6ca1ee7500d7de31ffe74151f1403fcba0942&w=740
" alt="kiwi">
    <div class="card-body">
      <h5 class="card-title text-center">KIWI</h5>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">PRECIO UNIDAD $ </li>
    <li class="list-group-item">PRECIO KILO $ </li>
  </ul>
  </div>
  <div class="card m-5 border border-warning-subtle">
    <img class="card-img-top" src="https://img.freepik.com/foto-gratis/manzanas-mesa_144627-6744.jpg?t=st=1716915090~exp=1716918690~hmac=4e216a522c3d841c3329ca5753bebb2d6c9dac7f35d072553bc5d89a47d48d4d&w=740
" alt="manzana">
    <div class="card-body">
      <h5 class="card-title text-center">MANZANA</h5>
      </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">PRECIO UNIDAD $ </li>
    <li class="list-group-item">PRECIO KILO $ </li>
  </ul>
  </div>
</div>

<div class="card-group">
  <div class="card m-5 border border-warning-subtle">
    <img class="card-img-top" src="https://img.freepik.com/foto-gratis/jugosa-naranja-circulo-citricos-maduros_1172-203.jpg?size=626&ext=jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">NARANJA</h5>
   </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">PRECIO UNIDAD $ </li>
    <li class="list-group-item">PRECIO KILO $ </li>
  </ul>
  </div>
  <div class="card m-5 border border-warning-subtle">
    <img class="card-img-top" src="https://img.freepik.com/foto-gratis/granada-exotica-deliciosa-sobre-fondo-blanco_144627-12570.jpg?t=st=1716928776~exp=1716932376~hmac=84b2c67d9ed2d15fe474a90e2c8daf976617db53d30b9103ceacf7e740bea49d&w=740" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">GRANADA</h5>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">PRECIO UNIDAD $ </li>
    <li class="list-group-item">PRECIO KILO $ </li>
  </ul>
  </div>
  <div class="card m-5 border border-warning-subtle">
    <img class="card-img-top" src="https://img.freepik.com/foto-gratis/melocoton-mesa_144627-17515.jpg?t=st=1716928614~exp=1716932214~hmac=23b0aa2bc665ee62f4d517656903b98fff0c4c46edd325848daaf504c708182b&w=740" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">DURAZNO</h5>

    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">PRECIO UNIDAD $ </li>
    <li class="list-group-item">PRECIO KILO $ </li>
  </ul>
  </div>
</div>




{{!

PRODUCTOS COMO JSON

{
  "productos": [
    {
      "categoria": "Frutas",
        "items": [
        {
          nombre: 'manzana',
          precio : 200,
          "imagen_url": "https://img.freepik.com/foto-gratis/manzanas-mesa_144627-6744.jpg?t=st=1716915090~exp=1716918690~hmac=4e216a522c3d841c3329ca5753bebb2d6c9dac7f35d072553bc5d89a47d48d4d&w=740"
        },
        {
          nombre: 'kiwi',
          precio : 300,
          "imagen_url": "https://img.freepik.com/foto-gratis/fruta-kiwi-fresca-aislada_144627-30031.jpg?t=st=1716915851~exp=1716919451~hmac=dbbaab3b2b1ec4264030d9a063e6ca1ee7500d7de31ffe74151f1403fcba0942&w=740"
        }, 
        {
          nombre: 'naranja',
          precio : 300,
          "imagen_url": "https://img.freepik.com/foto-gratis/jugosa-naranja-circulo-citricos-maduros_1172-203.jpg?size=626&ext=jpg"
        },
        {
          nombre: 'fresa' ,
          precio : 300,
          "imagen_url": "https://img.freepik.com/foto-gratis/fresas-rojas-frescas-hojas-verdes_114579-10506.jpg?t=st=1716915920~exp=1716919520~hmac=b0f2d8e078eb89ddc5465f59af01be41ac069349f235bf6dae16a09e7232edec&w=740"
        },
        {
          nombre: 'piña' ,
          precio : 300,
          "imagen_url": "https://img.freepik.com/foto-gratis/pina_144627-22187.jpg?t=st=1716916028~exp=1716919628~hmac=177e97f414da506cba5c949a7755ab1911b5481cc56696bbf8abc06dca71b139&w=360"
        }
      ]
    },      
    {
      "categoria": "Verduras",
        "items": [
        {
          nombre: 'alcachofa' ,
          precio : 300,
          "imagen_url": "https://img.freepik.com/foto-gratis/vista-lateral-3-alcachofas-horizontal_176474-2342.jpg?t=st=1716916706~exp=1716920306~hmac=dddf313f307d0b96478cef839bb09ba19c6c651544f2dcdb09cffb1df9e81540&w=740"
        },
        {
          nombre: 'pimentón' ,
          precio : 300,
          "imagen_url": "https://img.freepik.com/foto-gratis/pimiento_1339-1599.jpg?t=st=1716916640~exp=1716920240~hmac=c8aa74dc73498bdf490a34c65af932f6c85900951b1e5a3afa6de097d2197bb6&w=740"
        },
        {
          nombre: 'repollo morado' ,
          precio : 300,
          "imagen_url": "https://img.freepik.com/foto-gratis/fibra-toda-sabrosa-crujiente-saludable_1172-208.jpg?t=st=1716916880~exp=1716920480~hmac=4d03da0b045aafc421724bd7eb8c6568770d7402d7f8465956a61be9b8b72ad3&w=740"
        },
        {
          nombre: 'tomate' ,
          precio : 300,
          "imagen_url": "https://img.freepik.com/foto-gratis/tomates-rojos-frescos_2829-13449.jpg?t=st=1716916146~exp=1716919746~hmac=f6f93f35f443a9b5d7576a77cf7ff332c5fe968e2004cb7c79c0abe3ea5ce94f&w=740"
        },
        {
          nombre: 'zanahoria' ,
          precio : 300,
          "imagen_url": "https://img.freepik.com/foto-gratis/deliciosa-zanahoria-cruda_144627-45982.jpg?t=st=1716916526~exp=1716920126~hmac=86f196e4312260837e4d094ed40c0c35a052c915c18fae061fbfe35b8d1028b4&w=826"
        }
      ]
    }
  ]
}


}}